.appContainer {
  display: flex;
  position: relative;
  width: 100vw; 
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.customReactflow {
  width: 100%;
  height: 100vh;
  background-color:#282f44;
  margin: 0;
  padding: 0;
  
}

.nodeEditorStyles {
  position: absolute;
  top: 20px; 
  left: 20px;
  width: 200px; 
  background-color: #282f44; 
  border-radius: 10px; 
  padding: 10px; 
  z-index: 1000;
  border: 2px solid white;
 
}
.control{
  border-radius: 50%;
}
.control button[data-ggb-name="onZoomIn"],
.control button[data-ggb-name="onZoomOut"] {
  color: #ffffff;
  
}
.control button:nth-child(1) {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  
}

.control button:nth-child(2) {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
 
}
.control button:hover {
  background-color: #CDCDCD;
}

.maximal{
  background-color: #282F44;
  padding: 0;
  border: none;
  font-size: 0;
  position: absolute;
  bottom: 19px; 
  right: 18px; 
  border-radius: 7px;
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer; 
}
.maximisationIcon{
  width: 4vmin;
  padding: 1px;
}
.nodeInfo {
  position: absolute;
  bottom: 30px;
  right: 20px;
  background-color: #282f44;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px; 
  padding-bottom: 70px;
  
}





